hr {
    height: 2px;
    width: 400px;
    background-color: red;
    border: none;
    text-align: left;
    margin-left: 0;
}

table,
tr,
td {
    border: 1px solid gray;
}

table {
    text-align: center;
    margin-left: 200px;
}